html  {
  font-family: Helvetica, sans-serif;
}

body  {
  text-align: center;
}

h1  {
  font-size: 70px;
  font-weight: bold;
}

h2  {
  font-size: 32px;
  font-weight: bold;
}

h3  {
  font-size: 23px;
  font-weight: bold;
}

a  {
  color: white;
}

.bold  {
  font-weight: bold;
}

.hero  {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.hero h2  {
  font-size: 23px;
}

.btn-nav  {
  font-size: 18px;
}

.footer  {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}

.supporting p  {
  font-size: 14px;
}
